# NodeJS
.npm_cache
node_modules
npm-debug.log

# Src files
.babelrc
.editorconfig
.eslintrc
.gitattributes
.gitignore
.nvmrc
.codeclimate.yml
.codecov.yml
.eslintignore
.istanbul.yml
.travis.yml
.github
src/*
!src/kinvey.d.ts
esdoc.json
gulpfile.babel.js
hints.md
Makefile
README.md
CONTRIBUTING.md
CHANGELOG.md

# Build Files
.env
.tmp
tmp
dist/kinvey-angular-sdk.js
dist/kinvey-angular-sdk.min.js
s3/*

# Test Files
coverage/*
report.xml
*.tap
test/*

# MacOS Files
.DS_Store
